<mat-dialog-content class="mat-typography">
  <h1 class="title">Ajoutez un voyage</h1>
  <form [formGroup]="travelForm" (ngSubmit)="submitTravel()">
    <mat-dialog-content>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Aéroport de depart</mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Tapez..."
                  formControlName="departureAirport"
                />
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Aéroport d'arrivée</mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Tapez..."
                  formControlName="arrivalAirport"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field class="example-full-width">
                <mat-label>Date de départ</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker_departure"
                  formControlName="departureDate"
                />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker_departure"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker_departure></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="example-full-width">
                <mat-label> Date d'arrivée</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker_arrival"
                  formControlName="arrivalDate"
                />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker_arrival"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker_arrival></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field class="example-full-width">
                <mat-label> Heure de départ</mat-label>
                  <input matInput placeholder="Heure de départ"  [ngxTimepicker]="departureTime" [format]="24"  readonly />
                  <ngx-material-timepicker-toggle matIconSuffix [for]="departureTime"></ngx-material-timepicker-toggle>
                  <ngx-material-timepicker #departureTime></ngx-material-timepicker>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="example-full-width">
                <mat-label> Heure d'arrivée</mat-label>
                  <input matInput placeholder="Heure d'arrivée"  [ngxTimepicker]="arrivalTime" [format]="24"  readonly />
                  <ngx-material-timepicker-toggle matIconSuffix [for]="arrivalTime"></ngx-material-timepicker-toggle>
                  <ngx-material-timepicker #arrivalTime></ngx-material-timepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button
        mat-button
        type="submit"
        [mat-dialog-close]="true"
        cdkFocusInitial
      >
        Ok
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>



